/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#navigation {
  background-color: #F8F4EF;
  height: 65px;
}

#banner {
  background-color: #F8F4EF;
  height: 725px; 
}

#LOGO {
  border-radius: 15%;
}

#signbutton, #registerbutton {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: rgb(130, 66, 50);
  color: white;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 10px 5px;
  cursor: pointer;
}

#evaluation {
  border: 1px solid #000000;
  border-radius: 20px;
  background-color: #F8F4EF;
}

#contact {
  position: relative;
  border-radius: 20px;
  padding: 20px;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: rgb(130, 66, 50) transparent transparent transparent;
}

#slogan {
  background-color: #F1ECCE;
}

#post {
  border-radius: 20px;
  background-color: white;
}

#article {
  border-radius: 20px;
  border-left: 7px solid rgb(130, 66, 50);
  background-color: white;
}

#divider {
  border: 7px solid rgb(130, 66, 50);
  border-radius: 10px;
}

#work {
  background-color: white;
  border: 5px solid rgb(130, 66, 50);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  color: rgb(59, 59, 59);
  transition: transform 0.2s ease-in-out;
}

#work:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #000000;
}

#note-panel {
  height: 1120px;
}
